{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_category_show' %}

{% block main %}
    <h1>{{ category.title }}</h1>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_category_edit', { id: category.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/category/_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_post'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>

    {{ show_source_code(_self) }}
{% endblock %}
